
body{
    background-color: rgb(14, 14, 14);

}

/* NAVBAR */
.menu{
    width: 100%;
    background-color: rgb(14, 14, 14);
    padding: 2%;
    box-shadow: 0px 4px 10px rgba(255, 251, 39, 0.3);
    
}

.menuitem{
    color: rgb(204, 179, 97);;
}

.menuitem:hover{
    color: rgb(148, 114, 1);
}

.logo{
    width: 14%;
}

@keyframes sombraPiscante {
    0% { box-shadow: 0 4px 15px rgba(255, 0, 0, 0.863); }  /* Vermelho */
    25% { box-shadow: 0 4px 15px rgba(255, 208, 0, 0.836); }  /* Verde */
    50% { box-shadow: 0 4px 15px rgba(0, 132, 255, 0.856); }  /* Azul */
    75% { box-shadow: 0 4px 15px rgba(0, 255, 0, 0.808); } /* Amarelo */
    100% { box-shadow: 0 4px 15px rgba(255, 0, 0, 0.753); }  /* Vermelho novamente */
  }

  /* Aplicando a animação na navbar */
  .navbar {
    animation: sombraPiscante 2s infinite; /* Duração de 4 segundos, repetindo infinitamente */
  }


  
  .navbar-toggler-icon {
    background-color: rgba(255, 174, 0, 0.534); /* Cor do ícone do menu (três barras) */
  }
  
  /* Responsividade para telas pequenas, o botão ficará no lado direito */
  @media (max-width: 768px) {
    .navbar-toggler {
      position: absolute; /* Faz o botão ficar no canto direito */
      right: 10px; /* Ajusta a posição para o lado direito */
      top: 15px; /* Ajuste vertical */
    }
  }

/* PAG */

.iniciocol{
    width: 100%;
    padding: 2%;
}

.logoo{
    width: 80%;
    transition: transform 0.3s ease; /* Transição suave */
}

.logoo:hover{
    transform: scale(1.2); /* Aumenta a imagem em 20% */
}

.queenrow{
    margin-top: 5%;
}

@media (max-width: 768px) {
    .queenrow .col {
      flex: 0 0 50%; /* 2 colunas por linha no celular */
    }
  }




.paginicial{
    color: aliceblue;
}

.divinicial{
    background-color: rgb(77, 76, 76);
    color: aliceblue;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5% ;
    margin-bottom: 1%;
    padding: 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.divinicial:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.introducao{
    background-color: rgb(77, 76, 76);
    color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.introducao:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}





